@model ProductVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Product.ProductID !=0 ?"Update":"Create") Product</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.ProductID" hidden />
            <input asp-for="Product.ImgUrl" hidden />
            <div class="row">
                <div class="col-5">
                    <div class="border p-3 mt-4 container ">
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.Title"></label>
                            <input asp-for="Product.Title" class="form-control" />
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row p-1">
                            <label asp-for="Product.Description"></label>
                            <textarea asp-for="Product.Description" class="form-control"></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row p-1">
                            <label asp-for="Product.ISBN"></label>
                            <input asp-for="Product.ISBN" class="form-control" />
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row p-1">
                            <label asp-for="Product.AutherName"></label>
                            <input asp-for="Product.AutherName" class="form-control" />
                            <span asp-validation-for="Product.AutherName" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row p-1">
                            <label asp-for="Product.CategoryId"></label>
                            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="border p-3 mt-4 container ">

                        <div class="row">

                            <div class="col-6">
                                <div class="mb-3 row p-1">
                                    <label asp-for="Product.ListPrice"></label>
                                    <input asp-for="Product.ListPrice" class="form-control" />
                                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                                </div>

                                <div class="mb-3 row p-1">
                                <label asp-for="Product.Price"></label>
                                <input asp-for="Product.Price" class="form-control" />
                                <span asp-validation-for="Product.Price" class="text-danger"></span>
                            </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3 row p-1">
                                    <label asp-for="Product.Price50"></label>
                                    <input asp-for="Product.Price50" class="form-control" />
                                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                                </div>

                                <div class="mb-3 row p-1">
                                    <label asp-for="Product.Price100"></label>
                                    <input asp-for="Product.Price100" class="form-control" />
                                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        
                    </div>

                    <div class=" border p-3 mt-4 container ">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3 row p-1">
                                    <label asp-for="Product.ImgUrl"></label>
                                    <input type="file" name="file" class="form-control" />
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mt-5">
                            <button type="submit" class="btn btn-primary form-control"> @(Model.Product.ProductID != 0 ? "Update" : "Create") </button>
                        </div>
                        <div class="col-6 mt-5 ">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control"> Back</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <img src="~/@Model.Product.ImgUrl" width="100%" class="p-2 mt-3" />
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}